html,
body,
#app,
#app > div {
  height: 100%;
}

#root,
.App {
  height: 100%;
  align-content: center;
  align-items: center;
}

.main {
  height: 100%;
}

.main-content {
  height: 80%;
  /* display: flex; */
}

.main-content > div {
  display: block;
}
